


.card {
    display: flex;
    width: 25vw;
    height: 32vw;
    background-color: rgb(234, 234, 234);
    border-radius: 2.2vw;
    text-align: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.card img {
    background-color: #fff;
    border-radius: 1.2vw;
    width: 20vw;
    margin-top: 2.5vw;
}

.card p {
    margin-top: 3vw;
    font-size: 2vw;
    font-weight: 700;
}

.card p:hover {
    color: #888;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40vw;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.modal-content .me1 {
    width: 15vw;
    border-radius: 1vw;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_logo {
    width: 8vw;
    margin-bottom: 3vw;
}

.flex p {
    text-align: justify;
    padding-left: 5vw;
    font-weight: 500;
    font-size: 1vw;
    line-height: 3vw;
    color: rgb(97, 97, 97);
}

.flex a {
    text-decoration: none;
    color: rgb(97, 97, 97);
}

.flex a:hover {
    font-weight: 600;
    color: #000;
}

.modal_text2 {
    font-size: 1vw;
    font-weight: 500;
    color: #888;
    padding-top: 2vw;
    line-height: 2vw;
    padding-bottom: 2vw;
}

.arrow {
    position: absolute;
    margin-top: 35vw;
    left: 48vw;
    transform: translateX(-50%);
}

.arrow a span {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border-left: 0.2vw solid rgb(105, 105, 105);
    border-bottom: 0.2vw solid rgb(105, 105, 105);
    transform: rotate(-45deg);
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.arrow a span:nth-of-type(1) {
    animation-delay: 0s;
    top: 0;
}

.arrow a span:nth-of-type(2) {
    animation-delay: .15s;
    top: 3vw;
}

@keyframes sdb {
    0% {
        opacity: 0;
        top: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 3vw;
    }
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.two {
    margin: 20vw 0 10vw 0;
}

.goal {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 3vw;
    border: 0.15vw solid #000;
    border-radius: 3vw;
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 7vw;
}

.goal_ul {
    list-style: none;
    margin: 10vw 0;
    padding: 0;
    display: inline-flex;
    gap: 1vw;
    width: 80vw;
    
}

.goal_ul li {
    position: relative;
    margin: 0 1vw;
    width: 30vw;
    text-align: center;
    transition: transform 0.5s ease-out;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.goal_ul li .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.goal_ul li:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* border-radius: 2vw; */
}

.flip-card-front {
    background: #fff;
    z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    background: #f0f0f0;
    z-index: 1;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flip-card-front .img,
.flip-card-back .img {
    height: 24vw;
    /* border-radius: 1vw; */
    margin-bottom: 1vw;
}

.flip-card-front p,
.flip-card-back p {
    font-size: 1.2vw;
    font-weight: 500;
    color: #333;
}

.flip-card-front h4 {
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 1vw;
    color: #000;
    position: absolute;

}

.flip-card-back div {
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 1vw;
    color: #000;
    position: absolute;

}

.star{
    width: 24vw;
}

.img_r{
    width: 18vw;
}